body {
    font: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    
}

.header {
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    background-color: #1F2937;
    width: 100vw;
    padding-bottom: 100px;
    padding-top: 20px;
    margin: 0;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:bold;
    margin-left: 300px;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
    margin-right: 300px;
}



.title {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    background-color: #1F2937;
    width: 100vw;
    padding-bottom: 200px;
}

.title-text {
    width: 350px;
    display: flex;
    flex-direction:column;
    margin-left: 300px;
}

.title-head {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.title-body {

}
.title-image {
    width: 500px;
    height: 250px;
    background-color: green;
    text-align: center;
    line-height: 250px;
    margin-right: 300px;
}


.main {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding: 100px;
}

.main-head {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.main-info {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.info-image {
    height: 150px;
    width: 150px;
    border: 5px solid;
    border-color: #3882F6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info-text {
    width: 150px;
    text-align:center;
}

.inspirational-quote {
    background-color: #E5E7EB;
    width: 100%;
}

.sign-up {
    color: whitesmoke;
    background-color:#3882F6;
    display: flex;
    padding: 20px;
    margin: 100px;

}
.sign-up-button {
    border: 2px solid whitesmoke;
    


}

.footer {
    color: whitesmoke;
    background-color: #1F2937; 
    width: 100vw;
    text-align:center;
    padding: 40px;
}

.title-button, .sign-up-button
{
    padding: 10px;
    background-color: #3882F6;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    font-weight: bold;

}