body {
    font: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    background-color: #1F2937;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 20px;
    gap: 80px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:bold;
    width: 350px;
}

.header-links {
    display: flex;
    justify-content: right;
    gap: 16px;
    font-size: 18px;
    width: 500px;
    }

.title {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    background-color: #1F2937;
    width: 100%;
    padding-bottom: 150px;
}

.title-text {
    width: 350px;
    display: flex;
    flex-direction:column;
}

.title-head {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.title-body {
    margin-bottom: 10px;
}
.title-image {
    width: 500px;
    height: 250px;
    background-color: green;
    text-align: center;
    line-height: 250px;
}


.main {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.main-head {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding: 50px;
}

.main-info {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.info-image {
    height: 150px;
    width: 150px;
    border: 5px solid;
    border-color: #3882F6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info-text {
    width: 150px;
    text-align:center;
}

.inspirational-quote {
    background-color: #E5E7EB;
    width: 100%;
    display: flex;
    padding: 200px;
    flex-direction: column;
    align-items: center;

}

.quote {
    text-align: left;
    font-size:36px;
    color: #1F2937;
    font-style: italic;
    width: 70%;
}
.quote-author {
    width: 800px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.sign-up {
    color: whitesmoke;
    background-color:#3882F6;
    display: flex;
}

.sign-up-text {
}
.sign-up-button {
    border: 2px solid whitesmoke;
}

.footer {
    color: whitesmoke;
    background-color: #1F2937; 
    width: 100%;
    text-align:center;
    padding: 40px;
}

.title-button, .sign-up-button
{
    padding: 10px;
    background-color: #3882F6;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    font-weight: bold;

}