.body {
    font: orange;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border: 0;
    height: 100vh;
}
.block1 {
    background-color: blue;
    height: 18vh;
}
.block2 {
    background-color: red;
    height: 18vh;
}
.block3 {
    background-color: blue;
    height: 18vh;
}
.block4 {
    background-color: red;
    height: 18vh;
}
.block5 {
    background-color: blue;
    height: 18vh;
}
.block6 {
    background-color: red;
    height: 18vh;
}